.DS_Store
main_analysis/segmentation/no_threshold_10x/AD2_S1_stardist/nuclei.npz
main_analysis/segmentation/no_threshold_10x/AD2_S1_stardist/nuclei.pkl
main_analysis/segmentation/no_threshold_10x/AD2_S2_stardist/nuclei.npz
main_analysis/segmentation/no_threshold_10x/AD2_S2_stardist/nuclei.pkl
main_analysis/segmentation/no_threshold_10x/AD3_S1_stardist/nuclei.npz
main_analysis/segmentation/no_threshold_10x/AD3_S1_stardist/nuclei.pkl
main_analysis/segmentation/no_threshold_10x/AD4_S1_stardist/nuclei.npz
main_analysis/segmentation/no_threshold_10x/AD4_S1_stardist/nuclei.pkl
main_analysis/segmentation/no_threshold_10x/AD5_S1_stardist/nuclei.npz
main_analysis/segmentation/no_threshold_10x/AD5_S1_stardist/nuclei.pkl
main_analysis/segmentation/no_threshold_10x/ffpeAD2_S3_stardist/nuclei.npz
main_analysis/segmentation/no_threshold_10x/ffpeAD2_S3_stardist/nuclei.pkl
main_analysis/segmentation/no_threshold_10x/ffpeAD3_S1_stardist/nuclei.npz
main_analysis/segmentation/no_threshold_10x/ffpeAD3_S1_stardist/nuclei.pkl
main_analysis/bin2cell/no_threshold_10x/AD2_S1_b2c.h5ad
main_analysis/bin2cell/no_threshold_10x/AD2_S2_b2c.h5ad
main_analysis/bin2cell/no_threshold_10x/AD3_S1_b2c.h5ad
main_analysis/bin2cell/no_threshold_10x/AD4_S1_b2c.h5ad
main_analysis/bin2cell/no_threshold_10x/AD5_S1_b2c.h5ad
main_analysis/bin2cell/no_threshold_10x/ffpeAD2_S3_b2c.h5ad
main_analysis/bin2cell/no_threshold_10x/ffpeAD3_S1_b2c.h5ad
main_analysis/bin2cell/no_threshold_10x/expanded_labels/AD2_S1_expanded_label.csv
main_analysis/bin2cell/no_threshold_10x/expanded_labels/AD2_S2_expanded_label.csv
main_analysis/bin2cell/no_threshold_10x/expanded_labels/AD3_S1_expanded_label.csv
main_analysis/bin2cell/no_threshold_10x/expanded_labels/AD4_S1_expanded_label.csv
main_analysis/bin2cell/no_threshold_10x/expanded_labels/AD5_S1_expanded_label.csv
main_analysis/bin2cell/no_threshold_10x/expanded_labels/ffpeAD2_S3_expanded_label.csv
main_analysis/bin2cell/no_threshold_10x/expanded_labels/ffpeAD3_S1_expanded_label.csv
main_analysis/data/ffpe_ff_pilot_batch_1_pre_qc_v2.h5ad
main_analysis/data/ffpe_ff_pilot_batch_1_post_qc_v2.h5ad
